DATABASE_URL=postgresql://postgres:postgres@postgres:5432/mydb
REDIS_URL=redis://redis:6379
JWT_SECRET=supersecret
JWT_EXPIRES_IN=7d
PORT=8080
RATE_LIMIT_WINDOW_SEC=60
RATE_LIMIT_MAX=100
RATE_LIMIT_SHORT_MAX=3
# 'AccountID' & 'LicenseKey' is from your MaxMind account.
AccountID=account_id
LicenseKey=license_key

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=mydb
